extends ../common/layout-header-footer

append stylesheets
	+css('/contact/structure')
	+css('/contact/theme')

append inner-content
	div.inner-content.row
		div.contacts-header-wrapper.hidden-xs
			header.contacts-header
				+img('/cmainic.png', 'Icône d\'une lettre').contacts-logo.hidden-xs

		div.contacts-wrapper
			div.contacts
				div.contact-wrapper.localization.col-sm-6.col-md-3
					div.contact
						div.contact-logo-wrapper
							+img('/clocalization.png', 'Icône d\'une carte')
						div.contact-name-wrapper
							h5.contact-name localisation
						div.contact-value-wrapper
							p.contact-value Dakar, Senegal
				div.contact-wrapper.phone.col-sm-6.col-md-3
					div.contact
						div.contact-logo-wrapper
							+img('/ccall.png', 'Icône d\'un téléphone')
						div.contact-name-wrapper
							h5.contact-name nous contacter
						div.contact-value-wrapper
							p.contact-value 33 820 20 20
						div.contact-value-wrapper
							p.contact-value 33 820 21 21

				div.contact-wrapper.mail.col-sm-6.col-md-3
					div.contact
						div.contact-logo-wrapper
							+img('/cwrite.png', 'Icône d\'un crayon')
						div.contact-name-wrapper
							h5.contact-name nous ecrire
						div.contact-value-wrapper
							p.contact-value contact@neuroweb.com
							p.contact-value
								a(href="#") Envoyer un message

				div.contact-wrapper.brochure.col-sm-6.col-md-3
					div.contact
						div.contact-logo-wrapper
							+img('/cbrochure.png', 'Logo pdf')
						div.contact-name-wrapper
							h5.contact-name plaquette
						div.contact-value-wrapper
							p.contact-value
								a(href=baseurl+'/documents/Plaquette Neuroweb.pdf') Voir la plaquette
							p.contact-value
								a(href=baseurl+'/documents/Plaquette Neuroweb.pdf' download) Télécharger la plaquette

append scripts