include header

p Juste un tableau pour chaque page, comme ci-dessous

table
	thead
		tr
			td Accueil
	tbody
		tr 
			td Texte Concepts 1
			td 
				textarea Lorem ipsum
		tr 
			td Texte Concepts 2
			td 
				textarea Lorem ipsum

table
	thead
		tr
			td Contact
	tbody
		tr 
			td Telephone
			td 
				textarea Lorem ipsum
		tr 
			td Mail
			td 
				textarea Lorem ipsum