@import '../../variables/mq-breakpoints'

.title-wrapper
	text-align right
	padding-right 5px
	@media xs
		text-align center

.square
	position absolute
	top 5%
	left 5%
	width 95%
	height 95%
	
.first-color-square-wrapper
	position relative
	z-index 3
	.first-color-square
		.square-wrapper
			padding-top 25%
			position relative
	
.second-color-square-wrapper
	position relative
	z-index 3
	.second-color-square
		.square-wrapper
			padding-top 33.3333%
			position relative
			
.ad-wrapper
	position relative
	z-index 2
	text-align center

	@media xs
		padding 10px
	.ad
		@media xs
			display inline-block
			width 80%
			margin-left -45px

.wrappers-wrapper
	transform rotateZ(-45deg)
	margin-top -20%
	
	@media xs
		transform none
		margin-top 0
	
.first-color-square-wrapper, .second-color-square-wrapper, .ad-wrapper 
	margin-bottom 80px
	
	@media xs
		margin-bottom 0
		
.inner-content
	overflow hidden
	
	@media xs
		overflow visible