@import '../../variables/colors'
	
body
	background-color contacts-gray
	
.title-wrapper
	.title
		font-weight bold
		text-transform uppercase
		color darken(gray, 70%)

.square
	transition background-color 0.2s