include ../mixins/layout-mixins

div.header-page-wrapper.row
	header.header-page.col-xs-12

		//- Logo
		div.wrapper.logo-wrapper.row
			+img("/logo-neuroweb.png", "Logo de l'agence NeuroWeb").logo
			span.slogan Vous, votre entreprise, le Sénégal, tous sur Internet !!!

		//- Menu
		div.wrapper.menu-wrapper.row.hidden-xs
			//- Menu logo
			div.wrapper.menu-logo-wrapper.col-sm-2.col-md-3
				+img("/logo-neuroweb.png", "Logo de l'agence NeuroWeb").menu-logo
			//- Menu items
			nav.menu.col-sm-8.col-md-6
				ul.menu-items.horizontal-list.col-xs-12
					li.menu-item.col-sm-3(class=path == '/' ? 'active' : '') 
						a(href="/") Accueil
					li.menu-item.col-sm-3(class=path == '/prestations' ? 'active' : '') 
						a(href="/prestations") Prestations
					li.menu-item.col-sm-3(class=path == '/portfolio' ? 'active' : '') 
						a(href="/portfolio") Portfolio
					li.menu-item.col-sm-3(class=path == '/contact' ? 'active' : '') 
						a(href="/contact") Contact

			//- Social networks
			div.social-networks-wrapper.hidden-xs.col-sm-2.col-md-3
				ul.social-networks.horizontal-list.pull-right
					li.social-network.facebook(title="Pas encore disponible")
						span.fa.fa-facebook
					li.social-network.twitter(title="Pas encore disponible")
						span.fa.fa-twitter
					li.social-network.google-plus(title="Pas encore disponible")
						span.fa.fa-google-plus