@import '../../variables/mq-breakpoints'

header-spacing = 50px
	
.contacts-header-wrapper
	text-align center
	padding header-spacing 0
	overflow hidden
	.contacts-header
		margin-top -140px
		margin-left -20px
		padding-top 140px
		padding-bottom 30px
		transform rotateZ(3deg)
		width 110%
		
		.contacts-logo
			max-height 145px
			max-width 145px
			transform rotateZ(-3deg)
			@media sm
				width 15%
			@media md
				width 20%
			@media lg
				width 25%
				
.contacts-wrapper
	@media xs
		padding-top 10px
	.contact-wrapper
		.contact
			text-align center