@import '../../variables/colors'
@import '../../variables/mq-breakpoints'

font-size = 20px

.inner-content
	font-size font-size
	
	@media xs
		font-size font-size * 0.7
	@media sm
		font-size font-size * 1.2
	@media md
		font-size font-size * 0.9
	@media lg
		font-size font-size
	
	
body
	background-color contacts-gray

.header-page
	position relative
	z-index 2

.inner-content
	position relative
	z-index 1

.contacts-header
	background-color dark-blue
	
.contacts
	.contact
		color dark-blue
		.contact-name
			text-transform uppercase
			font-weight bold
			font-size 1.1em
		.contact-value
			font-size 0.8em