doctype html
html
	head
		title NeuroWeb
	body
		p Inscription Admin
		form(method="post")
			input(type="text" name="username")
			input(type="text" name="email")
			input(type="text" name="firstName")
			input(type="text" name="lastName")
			input(type="submit")