@import "../../variables/colors"
@import "../../variables/mq-breakpoints"

base-font-size = 10px

.concepts-wrapper
	background-color: light-blue
	font-size base-font-size
	
	@media xs
		font-size base-font-size
	@media sm
		font-size base-font-size * 0.9
	@media md
		font-size base-font-size * 0.9
	@media lg
		font-size base-font-size
		
	.concepts
		.concepts-title-wrapper
			.concepts-title 
				font-size: 2em
				color: navy-blue
				text-transform: uppercase
					
				em
					font-size: 3.005em
					font-weight: bolder
					color: navy-blue
					font-style: normal
					
					
			
.concept-description-title
	font-weight: bold
	text-transform: uppercase

.concept-image-wrapper
	background-color: white

	
.concept-description-title
	font-size: 2em

.concept-description-text
	opacity: 0.8
	font-size: 1.5em	