@import "../../variables/mq-breakpoints"
	

.concepts-wrapper
	padding-bottom: 30px
	padding-top: 30px
	.concepts
		.concepts-title-wrapper
			text-align: center
			
			.concepts-title
					
				em
					text-align: center
					margin-bottom: -25px
					

.concept-image-wrapper
	position: relative;
	text-align: center;
	border-radius: 50%;
	
	// the paddings are so that the element has the same width and height
	@media sm		
		padding-top: 50%;

	@media md
		padding-top: 50%;
	
	@media lg
		padding-top: 50%;
	

.concept-image
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

.concept-info:first-child
	.concept-image-wrapper
		.concept-image
			width: 120%;
			height: 90%;
			margin-top: 5.4%;
			margin-left: 1%;
				
.concept-info:nth-child(2)
	.concept-image-wrapper
		.concept-image
			width: 70%;
			height: 120%;
			margin-left: 8%;
			margin-top: -15%;
				
.concept-info:nth-child(3)
	.concept-image-wrapper
		.concept-image
			width: 70%;
			height: 80%;
			margin-left: 15%;
			margin-top: 10%;

.concept-description-wrapper
	display: block;

.concept-description-title-wrapper
	text-align: center

.concept-description-text
	text-align: justify
	color: black
	padding: 10px
	
.concept-info-container
	padding-left: 20px
	padding-top: 30px