@import "../../variables/colors"
@import "../../variables/mq-breakpoints"

footer-font-size = 18px
play-button-size = footer-font-size * 1.8

.discover-wrapper
	
	.discover
					
		.footer-wrapper
			background-color dark-blue
			
			.play-button-wrapper
				
				.play-button
					background-color dark-blue
					border none
					font-size play-button-size
				
				.play-button:hover, .play-button:focus
					color white
					
			.footer
				text-transform uppercase
				font-size footer-font-size
				
				@media sm
					font-size footer-font-size * 0.8
				
				@media xs
					font-size footer-font-size * 0.6
				
				.second-line-wrapper
					
					.second-line
						font-weight bold
						font-size footer-font-size * 1.8
				
						@media sm
							font-size footer-font-size * 1.8 * 0.8
						
						@media xs
							font-size footer-font-size * 1.8 * 0.6
					
					.active-quality
						color lighten(orange, 30%)
						
					.active-quality::before
						content  " "