@import "../../variables/mq-breakpoints"

footer-font-size = 24px
play-button-size = footer-font-size * 2.3

.discover-wrapper
	position relative
	display none
	
	.discover
		height 100%
		
		.content-wrapper
			position relative
			z-index 1
			height 100%
			
			.content
				height 100%
				// temporary
				.placeholder	
					height 100%
				
		.footer-wrapper
			position absolute
			width 100%
			bottom 0
			z-index 2
			
			.footer
				text-align center
				
				.play-button-wrapper
					
					.play-button
						margin-top -((play-button-size + 8 * 2) * 0.5)	// 8 = natural padding of a button
						width play-button-size + 8 * 2
						height play-button-size + 8 * 2
						border-radius 50%
						text-align center
						padding 0
						padding-left play-button-size * 0.1  // The play button does not look centered when it is perfectly centered				
						.fa
							font-size play-button-size * 0.7
						
					.play-button:hover .fa
						transform scale(1.1)
						
					.play-button:hover .fa
						transition transform 0.2s
						
					.play-button .fa
						transition transform 0.2s
						
				.first-line-wrapper
				
				.second-line-wrapper
					
					.caption-wrapper
						text-align right
						padding-right footer-font-size * 0.1
						
					.active-quality-wrapper
						text-align left
						
					.caption-wrapper, .active-quality-wrapper
						display inline-block
						
					.active-quality-wrapper.ng-animate
						transition all 0.6s
						
					.active-quality-wrapper.ng-leave.ng-leave-active,
					.active-quality-wrapper.ng-enter
						transform rotateX(90deg)
					  
					.active-quality-wrapper.ng-leave,
					.active-quality-wrapper.ng-enter.ng-enter-active
						transform rotateX(0deg)

					.qualities
						display none