@import "../../variables/mq-breakpoints"

.carousel-wrapper
	
	.carousel
		position relative



.navigation-wrapper
	position fixed
	bottom 0
	right 0
	
	.navigation-item-wrapper
		display inline-block
		
		.navigation-item:active
			background-color white