@import "../../variables/mq-breakpoints"

.team-members-wrapper
	padding-bottom:30px
	padding-top:30px
	.team-members
		.team-members-title-wrapper
			text-align:center
			
			.team-members-title
					
				em
					text-align:center
					margin-bottom:-25px
					
					
.team-member-info
	@media sm
		float left
		width 20%					
	@media md
		float left
		width 20%					
	@media lg
		float left
		width 20%					

.team-member-image-wrapper
	position relative	
	text-align center
	.team-member-image
		max-width 100%
		
.team-member-name
	text-align:center
	margin-top:10px
	

.team-member-role
	text-align:center
	padding:10px
	opacity:0.8