@import "../../variables/colors"
@import "../../variables/mq-breakpoints"

base-font-size = 10px
.team-members-wrapper
	background-color: white
	font-size: base-font-size
	
	@media xs
		font-size base-font-size * 0.5
	@media sm
		font-size base-font-size * 0.7
	@media md
		font-size base-font-size * 0.8
	@media lg
		font-size base-font-size
	
	.team-members
		.team-members-title-wrapper
			.team-members-title 
				font-size: 2em
				color: navy-blue
				text-transform: uppercase
					
				em
					font-size: 3.005em
					font-weight: bolder
					font-style: normal
					
					
			
.team-member-name
	font-weight: bold
	color: black
	font-size: 2em
				
.team-member-role
	font-weight: bold
	color: navy-blue
	font-size: 1.7em

.team-member-image
	background-color: white