@import "../../variables/colors"
@import "../../variables/mq-breakpoints"

base-font-size = 10px

.tools-wrapper
	background-color: #050d13;
	font-size: base-font-size;
	
	@media xs
		font-size base-font-size * 0.5
	@media sm
		font-size base-font-size * 0.7
	@media md
		font-size base-font-size * 0.8
	@media lg
		font-size base-font-size
		
	.header-title 
		text-transform: uppercase;
	


.nos 
	color: darken(gray, 30%);
	font-size: 3em;


.outils
	color: darken(gray, 30%);
	font-weight: bold;
	font-size: 7em;


.toolbox 
	background-color: white;
	opacity: 0.5;
	transition: opacity 0.5s;

.toolbox:hover
	opacity: 1;
