@import "../../variables/mq-breakpoints"
	
.nos 
	text-align center
	margin-bottom -25px


.outils 
	font-size 4.5em
	text-align center

.tools-wrapper
	padding-bottom 20px
	.tools
		
		.header-title-wrapper
			
			.headerTitle p 
				text-align center
			
				
.toolboxes-wrapper
	
	.toolboxes
		
		.toolbox-wrapper
			
			.toolbox
				position relative
				border solid black
				padding-top 100%
				
				.tool-image
					position absolute
					top 50%
					transform translateY(-50%)
					left 0
					display block
					max-width 90%
					max-height 100%
					margin-left 5%