div.concepts-wrapper.wrapper.part-wrapper
	div.concepts
		div.concepts-title-wrapper.wrapper.header-wrapper
				h2.concepts-title
					em=content['concepts-title-emphasized']
					br
					span=content['concepts-title-unemphasized']
			.clearfix

		div.concepts-info-container-wrapper.wrapper.content-wrapper
			div.concepts-info-container
				div.concepts-info-wrapper.wrapper

					-var i = 1;
						while (i <= 3)
							div.concept-info.col-xs-12.col-sm-4
								div.concept-image-wrapper.wrapper.hidden-xs.col-sm-offset-3.col-sm-6
									+img("/concepts-image-" + i + ".png", "Icone du concept").concept-image


								div.concept-description-wrapper.wrapper.col-xs-12
									div.concept-description
										div.concept-description-title-wrapper.wrapper
											h4.concept-description-title=content['concept-title-' + i]

										div.concept-description-text-wrapper.wrapper
											div.concept-description-text=content['concept-text-' + i]
							-i++

					.clearfix