div.discover-wrapper.wrapper.part-wrapper.hidden-xs
	div.discover
		div.content-wrapper
			div.content
				//- temporary
				+img('/discover-placeholder.jpg').placeholder.col-xs-offset-3.col-xs-6
				.clearfix

		div.footer-wrapper
			footer.footer
				div.play-button-wrapper.wrapper
					button.play-button.btn
						span.fa.fa-play

				div.first-line-wrapper.wrapper 
					div.first-line
						span.caption=content.discoverfirstline

				div.second-line-wrapper.wrapper
					div.second-line(ng-switch="activeQuality")
						div.caption-wrapper.wrapper.col-xs-6
							span.caption=content.discoversecondline

						div.active-quality-wrapper.wrapper.col-xs-6(ng-switch-when="0")
							span.active-quality du beau
						div.active-quality-wrapper.wrapper.col-xs-6(ng-switch-when="1")
							span.active-quality de l'innovation

						.clearfix