extends ../common/layout-header-footer

append stylesheets
	+css("/index/home-structure")
	+css("/index/home-theme")
	+css("/index/discover-structure")
	+css("/index/discover-theme")
	+css("/index/concepts-structure")
	+css("/index/concepts-theme")
	+css("/index/team-structure")
	+css("/index/team-theme")
	+css("/index/tools-structure")
	+css("/index/tools-theme")
	if env=="production"
		//- +default-css("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.7/slick.min")
		+css("/vendor/slick")
	else
		+css("/vendor/slick")


append inner-content
	div.inner-content(ng-controller="HomeController").row
		div.carousel-wrapper.wrapper
			div.carousel
				include discover
				include concepts
				include team
				include tools


append scripts
	if env=="production"
		//- +default-js("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.7/slick.min")
		+js("/vendor/slick/slick.min")
	else
		+js("/vendor/slick/slick")

	+js("/home/controller")
	+js("/home/parts-carousel")
	+js("/home/team-carousel")