div.team-members-wrapper.wrapper.part-wrapper
	div.team-members
		div.team-members-title-wrapper.wrapper.header-wrapper
				h2.team-members-title
					em=content['team-members-title-emphasized']
					br
					span=content['team-members-title-unemphasized']
			.clearfix

		div.team-members-info-container-wrapper.wrapper.content-wrapper
			div.team-members-info-container
				div.team-members-info-wrapper.wrapper

					each name in ['charlyn', 'dahaba', 'gabriella', 'habibe', 'saalihou']
						div.team-member-info.col-xs-6
							div.team-member-image-wrapper.wrapper.col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8
								+img('/avatar_' + name + '.png', "Avatar de " + name).team-member-image



							div.team-member-description-wrapper.wrapper.col-xs-12
								div.team-member-description
									div.team-member-name-wrapper.wrapper
										h4.team-member-name=content['team-member-' + name + '-name']

									div.team-member-role-wrapper.wrapper
										p.team-member-role=content['team-member-' + name + '-role']
					.clearfix