div.tools-wrapper.wrapper.part-wrapper
	div.tools
		div.header-title-wrapper.wrapper.header-wrapper
			div.header-title.col-sm-offset-4.col-sm-4
				p.nos=content['tools-title-emphasized']
				p.outils=content['tools-title-unemphasized']
			.clearfix

		div.toolboxes-wrapper.wrapper.content-wrapper
			div.toolboxes
				each tool in ['angularjs', 'bootstrap', 'css3', 'html5', 'javascript', 'jquery', 'mongodb', 'mysql', 'nodejs', 'photoshop', 'php', 'sothinklm']
					div.toolbox-wrapper.wrapper.col-sm-4.col-md-3.col-xs-6.col-lg-2
						div.toolbox
							+img("/tools/" + tool + ".png").tool-image
				.clearfix
			.clearfix