extends ../common/layout-header-footer

append stylesheets
	+css('/prestations/theme')
	+css('/prestations/structure')

append inner-content
	noscript
		style
			|.prestations-images-wrapper {
			|	display: none;
			|}
			|.prestations-infos-wrapper {
			|	padding-top: 0;
			|}
			|.prestations-infos .prestation-info-wrapper {
			|	display: block;
			|}
	div.inner-content(ng-controller="PrestationsController").row
		div.prestations-images-wrapper.wrapper.col-sm-5.hidden-xs
			div.prestations-images
				each prestation in prestations
					div.prestation-image-wrapper.col-xs-12
						+img('/prestation-' + prestation.key + '.png', 'Image d\'une prestation').prestation-image


		div.prestations-item-index-indicator-wrapper.hidden-xs.col-sm-1
			div.prestations-item-index-indicator

		div.prestations-infos-wrapper.wrapper.col-sm-6
			div.prestations-infos
				each prestation, key in prestations
					div.prestation-info-wrapper.col-xs-12
						div.prestation-name-wrapper
							h3.prestation-name=prestation.title
						div.prestation-descrition-wrapper
							p.prestation-description!=prestation.description

		div.navigation-wrapper.hidden-xs
			div.navigation
				div.navigation-item-wrapper
					button.navigation-item.left.btn(role="button")
						+img('/left-arrow.png', 'Fleche gauche')
				div.navigation-item-wrapper
					button.navigation-item.right.btn(role="button")
						+img('/right-arrow.png', 'Fleche droite')

append scripts
	+js("/slick")
	+js("/prestations/controller")
	+js("/prestations/prestations-carousel")