@import '../../variables/mq-breakpoints'

.header-page-wrapper
	position relative
	z-index 2
	
.inner-content
	position relative
	z-index 1

.prestations-images, .prestations-infos
	position relative
	overflow hidden
	
.prestation-image-wrapper
	position relative
	text-align center
	.prestation-image
		max-width 100%
		max-height 100%
		position relative

// hide everything that is not supposed to be seen until the slide kicks in
.prestation-image-wrapper:not(:first-child), .prestation-info-wrapper:not(:first-child), .navigation-wrapper
	display none

.prestations-item-index-indicator-wrapper
	position relative
	padding 0
	.prestations-item-index-indicator
		width 10%
		height 100%

.prestations-infos-wrapper
	padding-top 20%
	
	@media xs
		padding-top 0
		
	@media sm
		padding-top 10%
		
	@media md
		padding-top 12.5%
		
	@media lg
		padding-top 15%

.navigation-wrapper
	position fixed
	bottom 0
	right 0
	
	.navigation-item-wrapper
		display inline-block
		
		.navigation-item:active
			background-color white