@import '../../variables/colors'

prestation-title-color = #51AEF2
prestation-description-color = #6D8086

.prestations-images
	background-color sea-blue

.prestations-item-index-indicator-wrapper
	.prestations-item-index-indicator
		background-color orange

.prestations-infos
	.prestation-name
		color prestation-title-color
		text-transform uppercase
		font-weight bold
	.prestation-description
		color prestation-description-color