@font-face {
  font-family: 'Main';
  src: url('../fonts/main.ttf');
}

body
	font-family Main
	color white

// Remove undesired wrapper paddings
.wrapper
	padding 0
	
.horizontal-list
	list-style-type none