@import "../variables/colors"

facebook-color = #3B5897
twitter-color = #22C9FF
google-plus-color = #DA2A1C

.header-page
	background-color primary
	.logo-wrapper
		.slogan
			font-weight normal
			
	.menu-wrapper
			background-color white
			
			.menu
			
			.menu-items
				color dark-primary
				font-weight bold
			
				.menu-item.active
					border-top-color orange
			
			.social-networks-wrapper
			
			.social-networks
				opacity 0.5
				.facebook
					background-color facebook-color
				.twitter
					background-color twitter-color
				.google-plus
					background-color google-plus-color

.slicknav_menu
	background-color primary
	font-weight bold