@import "../variables/mq-breakpoints"

// Menu
menu-inner-vertical-spacing = 10px
active-menu-border-width = 5px

// Social networks
social-network-size = 30px
social-network-font-size = 20px
social-networks-spacing = 5px

header-base-font-size = 16px
	
.header-page
	font-size header-base-font-size
	
	@media xs
		font-size header-base-font-size
	@media sm
		font-size header-base-font-size * 0.7
	@media md
		font-size header-base-font-size * 0.8
		
	@media xs
		padding 0

	.logo-wrapper
		position relative
		@media xs
			text-align center
			
		.logo
			display inline-block
			width 20%
			
			@media xs
				width 100%
				margin auto
				
		.slogan
			position absolute
			right 10px
			top 50%
			transform translateY(-50%)
			font-size 0.8em
			
			@media sm
				font-size 1em
				
			@media md
				font-size 1em
				
			@media xs
				position relative
				top 0
				left 0
				transform none

	.menu-wrapper
		
		.menu-logo-wrapper
			.menu-logo
				width 60%
				transform translateX(-100%)
				transition transform 0.5s
				
				@media sm
					width 100%

		.menu
			
			.menu-items
				
				.menu-item
					text-align center
					padding-top menu-inner-vertical-spacing
					padding-bottom menu-inner-vertical-spacing
					
				.menu-item.active
					border-top-style solid
					border-top-width active-menu-border-width
		
		.social-networks
			
			padding 5px 0

			.social-network
				display inline-block
				width social-network-size
				height social-network-size
				margin 0 social-networks-spacing
				font-size social-network-font-size
				border-radius 50%
				text-align center
				padding-top 2px
				
				@media sm
					width social-network-size * 0.8
					height social-network-size * 0.8
					margin 0 social-networks-spacing * 0.8
					font-size social-network-font-size * 0.8
.slicknav_menu
	text-align center
	@media sm
		display none
	@media md
		display none
	@media lg
		display none

.header-page-wrapper.scrolling
	.menu-wrapper
		position fixed
		top 0
		width 100%
		z-index 11
		
		.menu-logo-wrapper
			.menu-logo
				transform translateX(0)