mixin default-css(url)
	link(rel="stylesheet" type="text/css" href=url + ".css")

mixin default-js(url)
	script(type="text/javascript" src=url + ".js")
		
//-  attributes is implicit, attr is not
mixin default-img(url, alt, attr) 
	img(src=url alt=alt)&attributes(attributes)&attributes(attr)

mixin css(url)
	+default-css(baseurl + "/css" + url)

mixin js(url)
	+default-js(baseurl + "/js" + url)

mixin img(url, alt)
	+default-img(baseurl + "/images" + url, alt, attributes)