include ../mixins/layout-mixins

doctype html
html(ng-app="neuroweb")
	head
		block title
			title Neuroweb
		block meta
			meta(charset="utf-8")
			meta(name="viewport" content="width=device-width,initial-scale=1.0")
		block stylesheets
			if env=="production"
				//- +default-css("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap")
				//- +default-css("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome")
				+css("/vendor/bootstrap.min")
				+css("/vendor/font-awesome.min")
				+css("/vendor/bootstrap-theme.min")
			else
				+css("/vendor/bootstrap")
				+css("/vendor/font-awesome")
				+css("/vendor/bootstrap-theme")

			+css("/general")



	body
		div#content.container-fluid
			block content

		block scripts
			if env=="production"
				//- +default-js("https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min")
				//- +default-js("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min")
				//- +default-js("https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min")
				//- +default-js("https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min")
				//- +default-js("https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min")
				//- +default-js("https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.4/jquery.slicknav.min")
				+js("/vendor/jquery/dist/jquery.min")
				+js("/vendor/bootstrap/dist/js/bootstrap.min")
				+js("/vendor/angular/angular.min")
				+js("/vendor/angular-animate/angular-animate.min")
				+js("/vendor/lodash/lodash.min")
				+js("/vendor/slicknav/dist/jquery.slicknav.min")
			else
				+js("/vendor/jquery/dist/jquery")
				+js("/vendor/bootstrap/dist/js/bootstrap")
				+js("/vendor/angular/angular")
				+js("/vendor/angular-animate/angular-animate")
				+js("/vendor/lodash/lodash")
				+js("/vendor/slicknav/dist/jquery.slicknav")

			+js("/neuroweb")