extends layout

append stylesheets
	if env=="production"
		//- +default-css("https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.4/slicknav.min")
		+css("/vendor/slicknav.min")
	else
		+css("/vendor/slicknav")

	+css("/page-header-structure")
	+css("/page-header-theme")
	+css("/page-footer-structure")
	+css("/page-footer-theme")

append content
	include ../includes/header
	block inner-content
	include ../includes/footer

append scripts
	+js("/mobile-menu")
	+js("/scroll-header")