extends ../common/layout-header-footer

append stylesheets
	+css("/portfolio/structure")
	+css("/portfolio/theme")

append inner-content
	noscript
		style
			|.wrappers-wrapper {
			|	transform: none;
			|	margin-top: 0;
			|}
			|.first-color-square-wrapper, .second-color-square-wrapper {
			|	display: none;
			|}
	div.inner-content.row(ng-controller="PortfolioController")
		div.title-wrapper
			h1.title portfolio
		div.wrappers-wrapper.col-sm-offset-2.col-sm-12
			div.first-color-square-wrapper.wrapper.hidden-xs.col-sm-12
				div.first-color-square.col-sm-4
					div.square-wrapper(ng-repeat="color in firstSquareColorMap track by $index").col-xs-3
						div(style="background-color: {{color}}").square
				.clearfix

			div.ad-wrapper.col-sm-12
				+img('/portfolio-ad.png', 'Faites parti de nos 50 premiers partenaires et beneficiez d\'une reduction').col-sm-offset-1.col-sm-5.ad

			div.second-color-square-wrapper.wrapper.hidden-xs.col-sm-12
				div.second-color-square.col-sm-offset-4.col-sm-3
					div.square-wrapper(ng-repeat="color in secondSquareColorMap track by $index").col-xs-4
						div(style="background-color: {{color}}").square
				.clearfix
			.clearfix

append scripts
	+js("/portfolio/controller")